<% if user_signed_in? %>

  <h1>Your Profile</h1>
  <table class="table table-striped">
    <tr>
      <td>Name</td>
      <td>:</td>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>:</td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td>:</td>
      <td><%= current_user.address %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>:</td>
      <td><%= current_user.phone %></td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary get_in" id="get_in">Check In</button>
        <button class="btn btn-primary get_out" id="get_out">Check Out</button>
      </td>
    </tr>
    <tr>
      <% if !@absent.nil? %>
        <td>Check In</td>
        <td>:</td>
        <td><%= @absent.time_in %></td>
      </tr>
      <tr>
        <td>Remaining Time</td>
        <td>:</td>
        <td><%= (@absent.time_in + @time_working.hour) - DateTime.now.strftime("%H").to_i %></td>
        <tr>
          <td>Check Out</td>
          <td>:</td>
          <td><%= @absent.time_in + @time_working.hour %></td>
        </tr>
      </tr>
    <% end %>
  </table>

  <script type="text/javascript" src="/assets/clock.js"></script>
  <script>

    $(document).ready(function(){



      $('.get_in').click(function(){
        $(this).attr('disabled','disabled')
        $('.get_out').removeAttr('disabled','disabled')
        $.ajax({
          url: "<%= get_in_path %>",
          type: 'POST',
          data: { "absent[working_date]": "<%= DateTime.now.strftime("%Y-%m-%d %H:%M:%S") %>", "absent[time_in]": "<%= DateTime.now.strftime("%H").to_i %>", "absent[user_id]": <%= current_user.id %> },
          context: document.body
        }).done(function() {
          $(this).addClass("done");
        });
      });

      $('.get_out').click(function(){
        $(this).attr('disabled','disabled');
        $('.get_in').removeAttr('disabled','disabled');
        $.ajax({
          url: "<%= get_out_path %>",
          type: 'PUT',
          data: { "absent[time_out]": "<%= DateTime.now.strftime("%H").to_i %>"},
          context: document.body
        }).done(function() {
          $(this).addClass("done");
        });
      });
    });

  </script>

<% else %>
  <h1>You must sign in first</h1>
  <br />
  <h3>The number of employees who have entered today <%= @users.count %></h3>
  <table class="table table-striped">
    <% if !@users.nil? & !@time_working.nil? %>
      <tr>
        <th>Name</th>
        <th>Check In</th>
        <th> Time Remaining</th>
        <th></th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.user[:name] %></td>
          <td><%= user[:time_in] %></td>
          <td><%= (user.time_in + @time_working.hour) - DateTime.now.strftime("%H").to_i %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% end %>

<script>
  $(document).ready(function(){
<% if @absent.nil? %>
      $('.get_in').show();
      $('.get_out').hide();
<% elsif @absent.time_out.nil? %>
      $('.get_in').hide();
      $('.get_out').show();
<% else %>
      $('.get_in').hide();
      $('.get_out').hide();
<% end %>

<% if DateTime.now.strftime("%H").to_i < @time_working.first_check_in || DateTime.now.strftime("%H").to_i > @time_working.last_check_in %>
      $('.get_in').attr('disabled','disabled');
<% else %>
      $('.get_in').removeAttr('disabled','disabled');
<% end %>
  
<% if DateTime.now.strftime("%H").to_i < @time_working.first_check_out || DateTime.now.strftime("%H").to_i > @time_working.last_check_out %>
      $('.get_out').attr('disabled','disabled');
<% else %>
      $('.get_out').removeAttr('disabled','disabled');
<% end %>
  });
</script>